.tableRow {
    font-size: 10pt;
    height: 10px;
}

.tableRow>td {
    padding-bottom: 0px !important;
    padding-top: 7px !important;
    vertical-align: middle !important;
}

.tableHeader {
    font-size: 12pt;
}

.inputFilter {
    font-size: 12pt !important;
    height: 30px !important;
    width: 90% !important;
    margin: 0px auto !important;
    font-weight: bold !important;
    color: #000 !important;
    font-style: normal !important;
}