.Title{
    font-weight: bold;
    font-size: 14pt;
}

.inputFilter{
    font-size: 10pt !important;    
    height: 30px !important;
    width: 90% !important;
    margin: 0px auto !important;
}

.tableRow{    
    font-size: 10pt;
}

.tableHeader{    
    font-size: 12pt;
}