.divHeader{
    background-color: darkgray;
    height: 35px;
    padding: 0.5rem 0.5rem !important;
}

.divTitle{
    font-size: 14pt !important;
    font-weight: bold !important;
    line-height: 1.2 !important;
}